<html>
    <head>
        <title>Cover Page</title>
        <link href="./css/bootstrap.mim.css" rel="stylesheet">
        <style>
            body{
                background: rgb(191, 70, 207);
                color: rgb(255, 255, 255);
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
        <h1>Index</h1>
        <p> This is the index file page
        <!-- Go to <a href="">Home Page.</a> --> </p>
        </div>

        <script src="./js/boostrap.min.js"></script>
        <script src="./jq/jquery.min.js"></script>
    </body>
</html>